/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap'); */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


/* Header */
.header {
    width: 100%;
    height: 75px;
    padding-left: 12px;
    padding-right: 16px;
    overflow: visible;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    position: relative;
}

.header .w3-logo {
    display: inline-block;
    width: 77px;
    height: 75px;
    padding: 16px;
    float: left;
}

.header .w3-logo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header .w3-logo img {
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #04AA6D;
    font-size: 42px !important;
    position: relative;
}

.header ul {
    width: 477px;
    height: 75px;
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
}

.header ul>li {
    font-size: 18px;
    height: 75px;
    padding: 24px 16px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#navbtn_menu {
    font-size: 18px;
    height: 75px;
    padding: 24px 16px;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

#myAccordion {
    z-index: 1;
    width: 100%;
    position: absolute;
    display: none;
    background-color: #E7E9EB;
}

.header ul>li:nth-child(1) {
    width: 116px;
}

.header ul>li:nth-child(2) {
    width: 132px;
}

.header ul>li:nth-child(3) {
    width: 118px;
}

.header ul>li p {
    display: inline;
}

.header ul>li:hover {
    background-color: #04AA6D !important;
    color: white !important;
    cursor: pointer;
}

.header .features {
    display: inline-block;
    height: 75px;
    float: right;
    padding: 16px 0;
}

.header .features>a {
    padding: 8px 16px;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    font-weight: 600;
}

.header .features>a:hover {
    opacity: 0.8;
}

.header .features>a:nth-child(1) {
    background-color: #282a35;
    color: #fff;
}

.header .features>a:nth-child(2) {
    background-color: #ffc0c7;
    color: #000;
}

.header .features>a:nth-child(3) {
    background-color: #fff4a3;
    color: #000;
}

.header .features>a:nth-child(4) {
    background-color: #04AA6D;
    color: #fff;
    margin-right: 20px;
}

.header .user {
    padding: 10px 12.5px;
    height: 75px;
    width: 75px;
    float: right;
}

.header .user img {
    height: 50px;
    width: 55px;
}

/* Main content */
.color-white {
    color: #fff;
}

.fs-16 {
    font-size: 16px;
}

.tools-items {
    padding: 12px 18px;
    top: 12px;
    position: relative;
}

.tools-items:hover {
    background-color: #000;
}

.hero {
    background-color: #282a35;
    position: relative;
}

.hero .tools {
    position: absolute;
    right: 0;
    height: 44px;
}

.hero .content {
    max-width: 100%;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero .content .learntocodeh1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 105px;
    color: #fff;
    margin: 2px 0 -20px;
}

.hero .content .learntocodeh3 {
    color: #FFC0C7;
    font-weight: 700;
    margin: 30px 0 10px;
    font-size: 23px;
}

.hero .content form {
    margin: auto;
    position: relative;
    width: 45%;
}

.hero .content form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px 0 0 25px;
    float: left;
    width: 80%;
    padding-left: 25px;
    background: white;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}

.hero .content form.example button {
    width: 20%;
    float: left;
    padding: 10px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.hero .content h4 {
    margin-top: 30px !important;
}

.hero .content h4 a {
    color: #fff;
    font-size: 23px;
    font-weight: 700;
}

.hero .content h4 a:hover {
    color: #04AA6D;
}

.w3-bar-item {
    padding: 8px 16px;
    z-index: 10;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.bar-item-hover:hover {
    background-color: #04AA6D !important;
    color: white !important;
}

.w3-left {
    float: left;
}

.w3-right {
    float: right;
}

.w3-wide {
    letter-spacing: 4px;
}

.w3-btn,
.w3-btn:link,
.w3-btn:visited {
    color: #FFFFFF;
    background-color: #4CAF50;
}

.w3-white {
    color: #000 !important;
    background-color: #fff !important;
}

.w3-hover-white:hover {
    color: #000 !important;
    background-color: #eeeaea !important;
}

.w3-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.w3-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.w3-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.w3-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.ws-black {
    background-color: #282A35 !important;
    color: white !important;
}

.w3-green {
    background-color: #04AA6D !important;
    color: white !important;
}


.ws-hover-black:hover {
    background-color: #000 !important;
    color: white !important;
}

.ws-hover-light-green:hover {
    background-color: #ece3e0;
    color: #000;
}

.ws-grey {
    background-color: #E7E9EB !important;
    color: black !important;
}

.grey-color {
    background-color: #E7E9EB;
    color: black;
}

.ws-yellow {
    background-color: #FFF4A3 !important;
    color: black !important;
}

.ws-hover-yellow:hover {
    background-color: #fff080 !important;
    color: black !important;
}

.hover-yellow:hover {
    background-color: #fff080 !important;
    color: black !important;
}

.ws-green {
    background-color: #04AA6D !important;
    color: white !important;
}

.black-color {
    background-color: #282A35 !important;
    color: white !important;
}

.black-color:hover {
    background-color: #000 !important;
    color: white !important;
}

.ws-text-green {
    color: #04AA6D !important;
}

.ref-button {
    background-color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
    color: #000;
}

.ws-hover-green:hover {
    background-color: #059862 !important;
    color: white !important;
}

.ws-hover-text-green:hover {
    color: #059862 !important;
}

.ws-light-green {
    background-color: #D9EEE1 !important;
    color: black !important;
}

.ws-turquoise {
    background-color: #96D4D4 !important;
    color: black !important;
}

.ws-hover-turquoise:hover {
    background-color: #92c8c8 !important;
    color: black !important;
}

.center {
    text-align: center !important;
}

.ws-btn {
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 18px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 27px;
}

.w3-bar {
    position: relative;
    z-index: 4;
    font-size: 18px;
    background-color: white;
    color: #282A35;
    width: 100%;
    overflow: hidden;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.w3-block {
    display: block;
    width: 100%;
}

.w3-round {
    border-radius: 5px;
}

.ws-pink {
    background-color: #FFC0C7 !important;
    color: black !important;
}

.ws-hover-pink:hover {
    background-color: #ffb3bb !important;
    color: black !important;
}

.ws-light-pink {
    background-color: #DFD9D8 !important;
    color: black !important;
}

.ws-hover-light-pink:hover {
    background-color: #eee9e8 !important;
    color: black !important;
}

.tut-button {
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
}

.code-game {
    padding-top: 40px;
    padding-bottom: 40px;
}

.tut-button:hover,
.tryit-button:hover,
#getdiploma a:hover {
    background-color: #059862 !important;
    color: white !important;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
}

.tryit-button {
    display: inline-block;
    font-weight: 600;
    background-color: #04AA6D;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    width: 200px;
    height: 43px;
}

.w3-button {
    border: none;
    font-weight: 600;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    line-height: 30px;
}

.w3-hover-opacity:hover {
    opacity: 0.7;
}

/* Section */
.lang-section {
    margin-top: -10px;
}

.lang-section .content {
    width: 700px;
    padding: 42px 0;
}

.lang-section .html-content-container {
    height: 535.1px;
}

.lang-section .css-content-container {
    height: 486.6px;
}

.lang-section .js-content-container {
    height: 461.6px;
}

.lang-section .python-content-container,
.lang-section .python-content-container {
    height: 456.6px;
}

.lang-section .content h1 {
    font-size: 70px;
    font-weight: 700;
    margin-top: -18px !important;
}

.lang-section .content p {
    font-size: 19px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-weight: 600;
}

.lang-section .content a:nth-child(1) {
    margin-bottom: 2px;
}

.lang-section .code {
    background: #e7e9eb;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 42px;
    width: 616px;
}

.lang-section .html-code-container {
    height: 453px;
}

.lang-section .css-code-container {
    height: 439px;
}

.lang-section .js-code-container {
    height: 371.5px;
}

.lang-section .python-code-container,
.lang-section .sql-code-container {
    height: 363px;
}

.lang-section .code h3 {
    color: #000;
    margin: 10px 0;
    font-weight: 600;
    font-size: 24px;
}

.lang-section .w3-code {
    margin: 16px 0;
    width: 584px;
}

.lang-section .w3-code .html-code {
    height: 300px;
}

.lang-section .w3-code .css-code {
    height: 286px;
}

.lang-section .w3-code .js-code {
    height: 218.5px;
}

.lang-section .w3-code .python-code,
.lang-section .w3-code .sql-code {
    height: 210px;
}

.courses-1 .card-1 {
    display: flex;
    height: 320.5px;
    justify-content: space-around;
}

.courses-1 .card-1 .lang {
    width: 616px;
    height: 264.5px;
    margin: 2% 3%;
}

.courses-1 .card-1 .lang h2 {
    margin: 10px 0;
    font-size: 45px;
    font-weight: 600;
    color: #000;
}

.courses-1 .card-1 .lang h5 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    height: 70px;
}

.courses-2 {
    padding-bottom: 64px;
}

.courses-2 .card-2 {
    display: flex;
    height: 193px;
    max-width: 100%;
    margin: auto;
    justify-content: space-around;
}

.courses-2 .card-2 .lang {
    width: 616px;
    height: 137px;
    padding: 36px 24px;
    margin: 30px 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses-2 .card-2 .lang h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
}

.courses-2 .card-3 {
    display: flex;
    height: 169px;
    max-width: 100%;
    justify-content: space-around;
}

.courses-2 .card-3 .lang {
    width: 266px;
    height: 113px;
    margin: 2% 4%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-editor {
    padding: 30px 0 85px;
    height: 810px;
}

.title {
    font-size: 65px;
    font-weight: 700;
    margin: 2px 0 -20px 0 !important;
    color: #fff;
    line-height: 97.5px;
}

.sub-title {
    margin: 25px auto 10px;
    line-height: 30px;
}

.code-editor-container {
    width: 942px;
    height: 367px;
    margin: auto;
}

.code-editor-container .code-editor-header {
    padding: 10px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 46.5px;
}

.code-editor-container .code-editor-header .code-editor-header-left {
    float: left;
    width: 20%;
}

.code-editor-container .code-editor-header .code-editor-header-left .dot {
    margin-top: 5px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}

.code-editor-container .code-editor-header .code-editor-header-middle {
    width: 80%;
    float: left;
}

.code-editor-container .code-editor-header .code-editor-header-middle input {
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-top: -8px;
    height: 22px;
    color: #666;
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
}

.code-editor-container .code-editor-nav {
    height: 41.5px;
    background-color: #f1f1f1;
}

.code-editor .code-editor-container .code-editor-nav .frontend,
.code-editor .code-editor-container .code-editor-nav .backend {
    font-size: 17px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    height: 41.5px;
    text-align: center;
    cursor: pointer;
    float: left;
}

.code-editor .code-editor-container .code-editor-nav .backend:hover {
    background-color: #38444d;
}

.code-editor .code-editor-container .code-editor-img img {
    width: 100%;
}

.code-editor .try-fe {
    margin: auto;
}

.spaces {
    padding: 25px 20px 80px;
}

.spaces h3 {
    font-size: 24px;
    color: #fff;
    margin: 35px auto 10px;
}

.spaces .dynamicspaces {
    max-width: 100%;
    width: 850px;
    margin: 20px auto 55px;
}

.spaces .dynamicspaces img {
    max-width: 100%;
}

.spaces .howitwork {
    margin: 0 auto 35px;
}

.my-learning {
    padding: 65px 0 78px;
}

.my-learning .my-green-off {
    margin: 15px 0 5px;
}

.my-learning .my-green-off img {
    max-width: 100%;
}

.pro-caption {
    padding: 78px 35px 96px 35px;
    text-align: center;
}

.pro-caption h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 55px;
    padding-top: 11px;
    padding-bottom: 20px;
    color: #fff;
    margin: 0;
}

.pro-caption h3 {
    font-size: 25px;
    color: #FFC0C7;
    margin: 19px 0;
}

.pro-caption li {
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    list-style-type: none;
    font-weight: 500;
}

.pro-caption a {
    color: #fff;
}

.pro-caption a:hover {
    color: #059862;
}

.pro-caption #proFromDefault {
    margin-top: 35px;
    font-size: 20px;
    width: 300px;
    padding: 11px 18px;
}

.color-picker {
    background-color: #F3ECEA;
    color: #000;
    padding-top: 78px;
    padding-bottom: 95px
}

.code-game {
    padding: 85px 0;
}

.exercises-and-quizzes {
    padding: 64px 0;
}

.exercises-and-quizzes .content {
    width: 1336px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 8px;

}

.exercises-and-quizzes .content .exercise-button {
    padding: 70px 50px;
    font-size: 35px;
    max-width: 87%;
    opacity: 0.97;
    margin: 18px 47px;
}

.exercises-and-quizzes .content .exercises {
    width: 50%;
}

.exercises-and-quizzes .content .quizzes {
    width: 50%;
}

.exercises-and-quizzes .content .exercise-button>a {
    text-decoration: none;
}

.exercises-and-quizzes .content .exercises>a {
    color: white !important;
}

.exercises-and-quizzes .content .quizzes>a {
    color: black;
}

.exercises-and-quizzes .content .exercises:hover {
    background-color: #059862 !important;
    color: white !important;
}

.templates {
    padding: 64px 24px 90px;
}

.templates .template-img {
    max-width: 980px;
    max-height: 375px;
    margin: 16px auto 20px;
}

.templates .template-img img {
    max-width: 100%;
    max-height: 100%;
}

.templates .template-btn {
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
}

#getdiploma {
    position: relative;
    padding: 0 60px 50px 60px;
    margin-bottom: 85px;
    background-color: #282A35;
    color: #FFC0C7;
    margin-top: 0;
    padding-bottom: 64px;
}

#getdiploma h2 {
    margin: 62px 0;
    font-size: 62px;
    line-height: 93px;
    font-weight: 500;
}

#getdiploma p {
    margin: 62px 0;
    font-size: 52px;
    line-height: 78px;
}

#getdiploma a {
    border-radius: 50px;
    font-size: 18px;
    background-color: #04AA6D;
    padding: 17px 55px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 16px;
}

#w3_cert_arrow {
    position: absolute;
    right: 240px;
    width: 220px;
    transform: rotate(10deg);
    bottom: -70px;
    z-index: 1;
}

#w3_cert_badge {
    position: absolute;
    right: 5%;
    width: 220px;
    transform: rotate(10deg);
    bottom: -35%;
}

#howto_padding {
    padding-top: 64px;
}

#howto_padding .howtosection-img {
    max-height: 400px;
    max-width: 942px;
}

#howto_padding .howtosection-img img {
    max-height: 100%;
    max-width: 100%;
}

#howto_padding .learn-btn {
    color: white;
    font-size: 20px;
    margin-top: 175px;
    margin-bottom: 100px;
    display: block;
    border-radius: 25px;
    width: 30%;
}

.footer {
    padding: 32px 16px;
}

.footer .footer-list {
    padding: 32px 16px;
    height: 96.5px;
}

.display-footer-list {
    display: none;
}

.footer .footer-list>a {
    font-size: 15px;
    margin-top: -9px;
    margin-left: 12px;
    font-weight: 600;
    height: 41.5px;
}

.footer .footer-list>a:nth-child(1) {
    margin-left: 0;
}

.footer .footer-list .footer-nav>a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.footer .footer-social-media {
    font-size: 24px !important;
    padding: 0 16px;
    height: 52.3px;
}

.footer .footer-introduce {
    margin: 18px 0;
    font-size: 15px;
    font-weight: 600;
}

.footer .thumbup-icon {
    height: 50px;
    width: 5px;
    font-size: 40px;
    text-decoration: none;
}

.footer .thumbup-icon i {
    height: 50px;
    width: 50px;
    font-size: 40px;
}

/* Responsive */

@media screen and (max-width: 750px) {

    .barex,
    .navex {
        display: none !important;
    }
}

@media screen and (max-width: 1300px) {
    .ws-hide-1300 {
        display: none !important;
    }
}

@media screen and (max-width: 1230px) {
    .ws-hide-1230 {
        display: none !important;
    }
}

@media screen and (max-width: 1150px) {
    .ws-hide-1150 {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    .ws-hide-1000 {
        display: none !important;
    }
}

@media screen and (max-width: 820px) {
    .ws-hide-820 {
        display: none !important;
    }
}

@media screen and (max-width: 700px) {
    .ws-hide-700 {
        display: none !important;
    }

}

@media screen and (min-width: 750px) {
    #navbtn_menu {
        display: none;
    }
}

@media screen and (min-width: 750px) {

    #navbtn_menu,
    #myAccordion {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    .exercises-and-quizzes .content .exercises,
    .exercises-and-quizzes .content .quizzes {
        width: 100%;
    }

    .exercises-and-quizzes .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 993px) {
    .footer-list {
        display: none;
    }
    .display-footer-list {
        display: block;
    }

    .code-editor-container,
    .code-editor-img img,
    .code-editor-nav,
    .code-editor-header,
    .dynamicspaces img {
        max-width: 96%;
        margin: auto;
    }

    .lang-section {
        flex-direction: column;
    }

    .lang-section .content,
    .lang-section .code {
        align-self: center;
    }

    .courses-1 {
        padding: 64px 26px;
    }

    .courses-1 .card-1 {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .courses-1 .card-1 .lang {
        width: 100%;
        margin: 18px 0;
    }

    .courses-2 {
        padding: 0 26px;
    }

    .courses-2 .card-2 {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .courses-2 .card-2 .lang {
        width: 100%;
        margin: 18px 0;
    }

    .courses-2 .card-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .courses-2 .card-3 .lang {
        margin: 18px 0;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .code-editor .try-fe,
    .code-editor .try-be {
        width: 100%;
    }

    .learntocodeh1 {
        font-size: 50px !important;
    }

    .learntocodeh3 {
        font-size: 21px !important;
    }

    .w3-hide-small {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 60px !important;
    }

    .sub-title {
        font-size: 20px !important;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    .w3-hide-medium {
        display: none !important;
    }
}

@media screen and (max-width: 620px) {
    .pro-caption li {
        font-size: 18px;
    }
}

@media screen and (max-width: 1155px) {
    #w3_cert_arrow {
        display: none;
    }

    #w3_cert_badge {
        display: none;
    }
}